body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: #ffffff;
    height: 130px;
    border-radius: 0% 0% 50% 50%;
    background-color: rgb(45, 68, 172);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
h1{
    margin: 0;
    margin-left: 6px;
}
h2{
    
    margin: 0;
    margin-left: 10px;
}
.trace{
    border-top: 1px solid #fff ;
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: #000;
}